In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

Determine column headers, then utilize the Screen Name "SN" column based on unique values to determine the total number of players. The column is then renamed to be more descriptive within the resultant data frame.

In [2]:
#Create a data frame from the CSV file.
purchase_data_df=pd.DataFrame(purchase_data)
#Display the column headers.
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
#Create a dictionary based on the length of the unique # of screen names as that's the player count and then create
#a data frame based on that dictionary.
total_players = {"Total Players":[len(purchase_data_df["SN"].unique())]}
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

Display a purchasing analysis summary DataFrame that contains the following:
The number of unique items using the unique items function on the "Item ID" column.
The average price per item utilizing the mean function on the "Price" column.
The number of purchases utilizing the len of the "Purchase" column.
The total revenue utilizing the sum function on the "Price" column.

In [4]:
#Create a dictionary that utilizes several Pandas functions on the initial data frame and then display a data frame utilizing
#the summary data frame.
purchasing_analysis = {"Number of Unique Items":[len(purchase_data_df["Item ID"].unique())],
                      "Average Price":[round(purchase_data_df["Price"].mean(),2)],
                      "Number of Purchases":[purchase_data_df["Purchase ID"].count()],
                      "Total Revenue":[purchase_data_df["Price"].sum()]}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Need unique screen names list and the associated genders to remove duplicates and get accurate player count.
gender_df = pd.DataFrame(purchase_data_df[["SN","Gender"]])
p_gender_df = gender_df.drop_duplicates()

In [6]:
#Determine the number of each gender of player and the percentage:
m = 0
f = 0
o = 0

for g in p_gender_df["Gender"]:
    if g == "Male":
        m += 1
    elif g == "Female":
        f += 1
    elif g =="Other / Non-Disclosed":
        o += 1
total = (m + f + o)
#Based on the player count by gender, then calculate the percentage of gender per total player count. These are referenced
#within a dictionary and then displayed in a data frame. The index is set to the gender type to be more meaningful relative
#to the data represented in the columns.
gender_num = {"Total Count":[m, f, o],
             "Perecentage of Players":[(m / total), (f / total ), ( o / total)]}
gender_num_df = pd.DataFrame(gender_num, index = ["Male","Female","Other / Non-Disclosed"])
gender_num_df

                       Total Count  Perecentage of Players
Male                           484                0.840278
Female                          81                0.140625
Other / Non-Disclosed           11                0.019097


## Purchasing Analysis (Gender)

Purchases by Gender

Average Purchase Price by Gender

Total Purchase Value by Gender

Average Total Purchase per Person per Gender

In [7]:
#Group by gender to determine the summary statistics:
gender_purchase_analysis_df = purchase_data_df.groupby(["Gender"])

#Dictionary to store the functions housing the data - count for total purchases by gender, mean for avg purchase price,
#sum for the total value, and the avg per person of a gender is taking the total count column from the previously 
#created Data Frame gender_num_df and taking the sum of the price here divided by it.
gender_summary={"Purchase Count": gender_purchase_analysis_df["Gender"].count(),
               "Average Purchase Price": round(gender_purchase_analysis_df["Price"].mean(),2),
               "Total Purchase Value": gender_purchase_analysis_df["Price"].sum(),
               "Avg Total Purchase per Person": round(gender_purchase_analysis_df["Price"].sum()/gender_num_df["Total Count"],2)}

gender_summary_df=pd.DataFrame(gender_summary)
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame